<div id="dialog-box" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      {{#if title}}
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
      </div>
      {{/if}}
      <div class="modal-body">
        {{yield}}
        <div class="row mt-2">
          <div class="text-right col-sm-12">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
