<h1>Khaki, I need some help.</h1>

<h3>For ranger general question . . .</h3>
<p>
  Do you have a ranger question or issue that is not related to this
  website? Please contact the ranger support team here at {{mail-to (config 'GeneralSupportEmail')}}
</p>

<h3>Have Clubhouse (this website) question, suggestion, or issue?</h3>
<p>
  Contact the tech ninja's at {{mail-to (config 'AdminEmail')}} for all
  Clubhouse technical issues, questions, and suggestions.
</p>
