{{#ch-box 'Change Password'}}
  {{#ch-form "password" password validator=PasswordValidations onSubmit=(action "submit") as |f|}}
    <div class="form-row">
    {{f.input "password" type="password" label="New Password" size=10 maxlength=20 wrapClass="form-group col-md-8"}}
    {{f.input "password_confirm" type="password" label="Confirm New Password" size=10 maxlength=20 wrapClass="form-group col-md-8"}}

    </div>
    {{f.submit label="Change Password" disabled=isLoading}}
  {{/ch-form}}
{{/ch-box}}
{{outlet}}
